.comentdiv{
    width: 100%;
    height: 100%;
    background-color: #fff;
    padding: 10px;
    border-radius: 5px;
    /* box-shadow: 0 0 10px #ccc; */

}
.comment-container{
    width: 100%;
    height: 100%;
    background-color: #fff;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 10px #ccc;
    margin-top: 0.5rem;
}
#btn-comment{
  margin-left:0.5rem ;
}