.comentdiv{
    width: 100%;
    background-color: #fff;
    padding: 10px;
    border-radius: 5px 5px 0 0;
    border-bottom: solid rgb(75, 73, 73) 1px;
}
.comment-container{
    width: 100%;
    height:auto;
    background-color: #fff;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 10px #ccc;
    margin-top: 0.5rem;
    scroll-behavior: smooth;
}
#btn-comment{
  margin-left:0.5rem ;
}